<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar-loggedin.ejs') %>

    <div class="body-container">
        <div class="sidebar">
            <h3>Welcome, <%= userData.name %></h3> <br />
            <button class="createnote">Create New</button>
        </div>
        <div class="main">

            <% if(!userData.notes.length) { %>
                <h3 style="text-align: right;" >No notes here yet! Create a note</h3>
            <% } %> 

            <% userData.notes.forEach(note => { %>
            <div class="grid-item">
                <div class="grid-card">
                    <h2 class="title"> <%= note.title  %> </h2>
                    <p> <%= note.body %> </p>
                    <br>
                    <span class="date-time"><%= note.date %></span>
                    <br><br>
                    <button class="delete" data-noteID="<%= note._id %>">Delete</button>
                </div>
            </div>
            <% }) %>


        </div>

        <div class="new-form-modal closed">
            <!-- Blank div with 100% width and height to give the black .8 alpha to the modal background -->
        </div>

        <div class="card closed">
            <div class="close-container"> <span class="close-x">X</span> </div>
            <h2>Add new note</h2> <br>

            <form action="/create-note" method="POST">
                <label for="title">Title</label> <br>
                <input type="text" id="title" name="title" placeholder="Enter title of the note" required> <br>
                <label for="body">Body</label> <br>
                <textarea id="body" name="body" placeholder="Enter the body of the note" maxlength="600"
                    required></textarea><br>
                <button type="submit">Add Note</button>
            </form>

        </div>
    </div>



</body>

<!-- JS to toggle the 'Create Note' modal -->
<script src="/js/toggleCreateNoteModal.js"></script>

<!-- JS script to delete a note  -->
<script src="/js/deleteNote.js"></script>

<!-- JS Script to log out  -->
<script src="/js/logOut.js"></script>

</html>